{
  "DB_HOST": "localhost",
  "DB_PORT": 5432,
  "DB_USERNAME": "postgres",
  "DB_PASSWORD": "postgres",
  "DB_DATABASE": "postgres",
  "SLACK_WEBHOOK_URL": "https://hooks.slack.com/services/xxxxxxxxxxxxxxxxx",
  "SG_ID": "sg-xxxxxxxxxxxxxxxxx",
  "SUBNET_ID": "subnet-xxxxxxxxxxxxxxxxx",
  "ACCOUNT_ID": "xxxxxxxxxxxxxxxxx",
  "MAIL_HOST": "smtp.xxxxx.com",
  "MAIL_PORT": 587,
  "MAIL_AUTH_USER": "xxxxxxxxxxxxxxxxx",
  "MAIL_AUTH_PASS": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
